/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.card {
   border: 2px solid blue;
   border-radius: 9px;
   box-shadow: 5px 5px 5px firebrick;
   padding: 20px;
   margin: 9px;
   text-align: center;
   max-width: 250px;
   display: inline-block;
}

.student-cd {
   border: 2px solid blue;
   border-radius: 2px;
   box-shadow: 5px 5px 5px firebrick;
   padding: 20px;
   margin: 9px;
   text-align: center;
   max-width: 250px;
   display: inline-block;
}